.header {
    background: rgb(12, 12, 51);
    height: 200px;
    border-bottom: solid;
    border-color: red;
}

.title {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 40px;
}

.desc{
    text-align: center;
    color: white;
    padding-top: 10px;
}
.nav{
    
justify-content: "center";
}